[submodule "custom-themes/emacs-darkane-theme"]
	path = custom-themes/emacs-darkane-theme
	url = https://github.com/FelixFortis/emacs-darkane-theme.git
[submodule "org-html-themes"]
	path = org-html-themes
	url = git@github.com:fniessen/org-html-themes.git
