/.mc-lists.el
/auto-save-list
/recentf
/elpa
/.python-environments
/el-get
/elisp
.org-id-locations
*.dat
*.eld
tramp
eshell
/bookmarks
/abbrev_defs
/server/server
/prodigy-settings.el
/publish-settings.el
/request/curl-cookie-jar
